# Package managers
node_modules/
*.tgz
npm-debug.log
pnpm-debug.log*
.tmp/
.tmp-*
debug.log
*.stackdump

# Build
dist/
target/
fuzz/artifacts/
*.tsbuildinfo
.vitest-attachments/
**/__screenshots__/
**/__traces__/
.lighthouseci/

# Miscellaneous
.DS_Store
__pycache__/
.ignore

# Temporary files
logs/
temp/
temp.txt
*.diff

# env
.env
